apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Values.name }}
spec:
  parentRefs:
  - name: {{ .Values.gateway.name }}
    namespace: {{ .Values.gateway.namespace }}
  hostnames:
  - {{ .Values.httproute.host }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: {{ .Values.httproute.path }}
    backendRefs:
    - name: {{ .Values.name }}
      port: {{ .Values.service.port }}
